.Header {
    height: 50px;
    background: white;
    
}

.Header .container{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}